main{
    background-color: var(--bodyBg);
    width: 100%;
    height: auto;
    padding: 3rem 10rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
/* Left Container */
.left-container{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 .5rem;
    gap: 1rem;
}
.left-container input{
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    padding: .4rem .7rem;
    font-size: 1.1rem;
    border-radius: .5rem;
    background-color: #d6d4d4;
}
.left-container input::placeholder{
    color: #0000009a;
}
.space-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
    padding: .3rem;
}
.space-container img{
    width: 10%;
    aspect-ratio: 1;
    object-fit: cover;
}
.space-container p{
    width: 80%;
    font-size: 1.1rem;
}
.space-container span{
    position: absolute;
    left: 10%;
    top: 5px;
    background-color: var(--mainColor);
    width: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
    color: var(--mainColor);
}

/* Main Container */
.main-container{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.create-post{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--fontColor);
    padding:  .7rem;
}
.post-input{
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.post-input img{
    width: 8%;
    aspect-ratio: 1;
    border-radius: 50%;
}
.post-input input{
    width: 90%;
    height: 2.5rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    background-color: var(--bodyBg);
    padding-left: 1rem;
}
.main-post-action{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-post-action div{
    flex: 1;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    color: var(--icon);
    border-left: 1px solid var(--icon);
    cursor: pointer;
}
.main-post-action div a{
    color: var(--icon);
}
.mpa{
    border: none !important;
}
.display-feed{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.feed-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--fontColor);
    position: relative;
}
.feed-top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: .5rem .7rem;
}
.feed-top img{
    width: 10%;
    aspect-ratio: 1;
    object-fit: cover;
    cursor: pointer;
}
.feed-top div h4{
    cursor: pointer;
}
.feed-top div h4 span{
    color: blue;
    cursor: pointer;
}
.feed-top div p{
    opacity: .6;
    cursor: pointer;
}
.feed-middle{
    width: 100%;
    height: auto;
}
.feed-middle h3,.feed-middle p{
    padding: .3rem .7rem;
}
.feed-middle img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.feed-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: .3rem .7rem;
}
.feed-bottom span{
    font-size: 1.5rem;
    color: var(--icon);
    cursor: pointer;
}
.feed-bottom i{
    font-size: 1.5rem;
    color: var(--icon);
    cursor: pointer;
}
.feed-bottom p{
    opacity: .6;
    font-size: 12px;
}
.feed-actions{
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 50px;
    aspect-ratio: 1;
}
.feed-actions i{
    font-size: 1.2rem;
    color: blue;
}
/* Right container */
.right-container{
    width: 30%;
    height: auto;
    background-color: var(--fontColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: .5rem 0;
}
.right-container hr{
    width: 100%;
    height: 2px;
    color: var(--border);
    opacity: .7;
}
.right-space-box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
    padding: .3rem;
}
.right-space-box img{
    width: 10%;
    aspect-ratio: 1;
    object-fit: cover;
}
.right-detail-box p{
    opacity: .6;
}
.rightTitle{
    width: 100%;
    padding-left: 10%;
}


/* Media Query */
@media (max-width: 1100px){
    main{
        padding: 2rem;
    }
}
@media (max-width: 900px){
    .feed-actions{
        top: 1rem;
        right: 1rem;
        gap: .5rem;
        justify-content: center;
        align-items: center;
    }
    .feed-actions i{
        font-size: 1rem;
    }
}
@media (max-width: 840px){
    main{
        padding: 0;
    }
    .left-container{
        display: none;
    }
    .right-container{
        display: none;
    }
    .main-container{
        width: 100%;
    }
    .feed-top div p{
        width: 70%;
    }
}
@media (max-width: 300px){
    .create-post{
        gap: 1rem;
    }
    .post-input img{
        width: 30px;
    }
    .post-input input{
        height: 2rem;
    }
    .main-post-action{
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }
    .main-post-action div, .mpa{
        
        border: none;
    }
}