:root{
    --mainColor: #b92b27;
    --mainColor2: #cb4b10;
    --icon: #6d6d6d;
    --fontColor: #fff;
    --border: #c4c0c0;
    --bodyBg: #efefee;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    scroll-behavior: smooth;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    position: relative;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}